* {
  margin: 0;
  padding: 0;
  overflow: none;
}

/* Section-1 */
.section-1 {
  background-image: url(image-hero.jpg);
  background-size: 100%;
  padding-bottom: 600px;
  background-repeat: no-repeat;
}

.navcontainer {
  /* display: flex; */
  color: white;
  font-weight: bolder;
  justify-content: space-between;
}

.loop {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  left: 100px;
  font-size: 30px;
}
.nav {
  position: relative;
  top: 50px;
  right: 100px;
}

.nav a {
  color: white;
  text-decoration: none;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
}

.font {
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: white;
  width: 500px;
  left: 200px;
  top: 250px;
  padding: 20px 30px 20px 30px;
  border: 3px solid white;
  font-size: 40px;
}

/* Section 2 */

.section-2 {
  background-color: white;
}

.sec-2{
  display: flex;
}
.border{
  position:absolute;
  background-color: white;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  height: 400px;
  margin-top: 250px;
  margin-left: 820px;
  border: 5px solid whitesmoke;
}

.border p{
  width: 420px;
  line-height: 30px;
  padding-bottom: 50px;
}
.border h2{
  width:400px;
  font-weight: lighter;
  font-size: 40px;
  padding-top: 50px;
}

.smile{
  margin-left: 200px;
  margin-top:150px ;
}

/* Section-3 */
.section-3 {
  margin-top: 150px;
}

.section-3 h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
}

.section-3 button {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  letter-spacing: 5px;
  font-weight: bolder;
  margin-right: 270px;
  cursor: pointer;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-left: 200px;
}
.earth {
  display: flex;
  margin-left: 200px;
}

.earth h2 {
  position: relative;
  bottom: 80px;
  padding-left: 50px;
  color:rgb(255, 249, 249);
  width: 30px;
}
.image1 {
  margin-right: 100px;
}
.image2 {
  margin-right: 100px;
}
.image3 {
  margin-right: 100px;
}
.image4 {
  margin-right: 100px;
}

/* footer */

.footer {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

.socials {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
}

.navv a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-right:20px;
  line-height: 50px;
  font-weight: lighter;
}

.navv h4{
  font-size: 20px;
}

.copyright p{
  padding-top: 40px;
  padding-right: 100px;
}


/* media query */

@media(max-width:425){
  
}


